
/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/bootstrap/cache/*
phpunit.xml
.phpunit.result.cache
/public/hot
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
.vscode/